<section class="flex justify-center flex-wrap m-auto bg-orange-600 py-14 gap-5 px-[10%]">
    <img class="opacity-35 translate-y-14 scale-50 duration-[400ms]" width="150px" src="/marcas/belen.png" alt="logo belen">
    <img class="opacity-35 translate-y-14 scale-50 duration-[700ms]" width="150px" src="/marcas/docplast.png" alt="logo docplast">
    <img class="opacity-35 translate-y-14 scale-50 duration-[1000ms]" width="150px" src="/marcas/isoplast.png" alt="logo isoplast">
    <img class="opacity-35 translate-y-14 scale-50 duration-[900ms]" width="150px" src="/marcas/feiteng.png" alt="logo feiteng">
    <img class="opacity-35 translate-y-14 scale-50 duration-[1100ms]" width="150px" src="/marcas/pastenplasy.png" alt="logo pastenplasy">
    <img class="opacity-35 translate-y-14 scale-50 duration-[1200ms]" width="150px" src="/marcas/sanjorge.png" alt="logo sanjorge">
    <img class="opacity-35 translate-y-14 scale-50 duration-[500ms]" width="150px" src="/marcas/darnel.png" alt="logo darnel">
    <img class="opacity-35 translate-y-14 scale-50 duration-[300ms]" width="150px" src="/marcas/advan.png" alt="logo advan">
    <img class="opacity-35 translate-y-14 scale-50 duration-[600ms]" width="150px" src="/marcas/delsur.png" alt="logo delsur">
    <img class="opacity-35 translate-y-14 scale-50 duration-[800ms]" width="150px" src="/marcas/fivestick.png" alt="logo fivestick">
    <img class="opacity-35 translate-y-14 scale-50 duration-[800ms]" width="150px" src="/logo.jpg" alt="logo bacan">
</section>
<style>
    img:hover{
        scale: 1.1;
        transition:300ms scale;
    }
</style>