<section class="lg:grid grid-cols-5 lg:place-items-center flex justify-center flex-wrap m-auto bg-orange-600 py-14 gap-5 px-[10%]">
    <img class="opacity-35 translate-y-14 duration-[300ms]" width="150px" src="/marcas/advan.png" alt="">
    <img class="opacity-35 translate-y-14 duration-[400ms]" width="150px" src="/marcas/belen.png" alt="">
    <img class="opacity-35 translate-y-14 duration-[500ms]" width="150px" src="/marcas/darnel.png" alt="">
    <img class="opacity-35 translate-y-14 duration-[600ms]" width="150px" src="/marcas/delsur.png" alt="">
    <img class="opacity-35 translate-y-14 duration-[700ms]" width="150px" src="/marcas/docplast.png" alt="">
    <img class="opacity-35 translate-y-14 duration-[800ms]" width="150px" src="/marcas/fivestick.png" alt="">
    <img class="opacity-35 translate-y-14 duration-[900ms]" width="150px" src="/marcas/feiteng.png" alt="">
    <img class="opacity-35 translate-y-14 duration-[1000ms]" width="150px" src="/marcas/isoplast.png" alt="">
    <img class="opacity-35 translate-y-14 duration-[1100ms]" width="150px" src="/marcas/pastenplasy.png" alt="">
    <img class="opacity-35 translate-y-14 duration-[1200ms]" width="150px" src="/marcas/sanjorge.png" alt="">
</section>
<style>
    img:hover{
        scale: 1.1;
        transition:300ms scale;
    }
</style>